* {
    margin: 0;
    padding: 0;
}

.main {
    padding: 80px 0px 0px 50px;
    font-family: "Poppins";
}

h1 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

/* h1::after {
    content: '';
    width: 180px;
    height: 10px;
    position: absolute;
    background-color: #FFA800;
    left: 170px;
    top: 22px;
    opacity: 0.5;
    z-index: -1;
} */

p {
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 18px;
}

.img-end {
    display: flex;
    padding-top: 50px;
}

.img-wrapper {
    flex: 1;
}

.img-wrapper img {
    width: 100%;
}

.tg {
    width: 100%;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

@media (max-width: 600px) {
    .main {
        padding: 45px 0px 0px 20px;
    }


    .img-end {
        flex-direction: column;
    }
}
